extends layout.pug

block content
    h1 Les articles

    table.table
        thead
            tr
                th Titre
                th Contenu
                th J'aime
                th Commentaires
                th Supprimer
        tbody
            each article in articles
                tr
                    td= article.title
                    td= article.content
                    td= article.applauseCount
                    td
                        ul
                            each comment in article.comments
                                li= comment
                    td
                        button.btn.btn-error.delete-article-button(data-article-id=article._id) Supprimer

    script(src="/js/deleteArticle.js")
